In [3]:
from __future__ import division
import os,sys

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
from pandas import Series,DataFrame

In [4]:
!type data\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [5]:
!type data\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
pd.read_table('data/ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
pd.read_csv('data/ex1.csv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
!type data\ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

result = pd.read_table('data\ex3.txt',sep='\s+')
result

In [9]:
result = pd.read_table('data\ex3.txt',sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [10]:
!type data\ex5.csv
result=pd.read_csv('data\ex5.csv')
pd.isnull(result)

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [11]:
xls_file=pd.ExcelFile('data/address.xls',encoding='GBK')
table=xls_file.parse('Sheet1')
table.head()

   区镇道路   建筑名        组织机构
0   萧山区  明怡花苑    浙江旅游职业学院
1   杭州市  心意广场  浙江建设职业技术学院
2   浙江省  佳丰北苑  浙江同济科技职业学院
3   宁围镇  宁安社区  浙江师范大学萧山校区
4  北干街道  湘湖家园     戈雅公寓夏风园

In [1]:
!type data\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
pd.read_csv('data/ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [8]:
pd.read_csv('data/ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
pd.read_csv('data/ex2.csv',names=['第一季度','第二季度','第三季度','第四季度','合计'])

   第一季度  第二季度  第三季度  第四季度     合计
0     1     2     3     4  hello
1     5     6     7     8  world
2     9    10    11    12    foo

In [11]:
names=['a','b','c','d','message']
pd.read_csv('data/ex2.csv',names=names,index_col=[4])

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [12]:
pd.read_csv('data/ex2.csv',names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [13]:
!type data\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [14]:
parsed=pd.read_csv('data/csv_mindex.csv',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [15]:
!type data\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo
# this is footer lines?
# thanks god

In [16]:
pd.read_csv('data/ex4.csv',skiprows=[0,2,3],skipfooter=2,index_col='message',engine='python')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [17]:
!type data\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [18]:
result=pd.read_csv('data/ex5.csv')
pd.isnull(result)

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [19]:
result=pd.read_csv('data/ex5.csv',na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [21]:
sentinels={'message':['foo','NULL'],'something':['two']}
pd.read_csv('data/ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [22]:
result=pd.read_csv('data/ex6.csv')
print len(result)
result.head()

10000

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [23]:
chunker=pd.read_csv('data/ex6.csv',chunksize=1000)
chunker

In [24]:
tot=Series([])
for piece in chunker:
    tot=tot.add(piece['key'].value_counts(),fill_value=0)
tot=tot.sort_values(ascending=False)
tot[:5]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
dtype: float64

In [25]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [26]:
!type data\ex5.csv
data=pd.read_csv('data/ex5.csv')

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [27]:
data.to_csv('data/out-ex5.csv')
!type data\out-ex5.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [28]:
data.to_csv('data/out-ex5-sepbar.csv', sep='|')
!type data\out-ex5-sepbar.csv

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [29]:
data.to_csv(sys.stdout,na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [30]:
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [31]:
data.to_csv(sys.stdout,index=False,columns=['a','c','b'])

a,c,b
1,3.0,2
5,,6
9,11.0,10

In [34]:
import os,sys
dates=pd.date_range('3/22/2017',periods=5)
ts=Series(np.arange(5.0),index=dates)
ts.to_csv('data/tseries.csv')
!type data\tseries.csv

2017-03-22,0.0
2017-03-23,1.0
2017-03-24,2.0
2017-03-25,3.0
2017-03-26,4.0

In [35]:
Series.from_csv('data/tseries.csv',parse_dates=True)

2017-03-22    0.0
2017-03-23    1.0
2017-03-24    2.0
2017-03-25    3.0
2017-03-26    4.0
dtype: float64

In [36]:
!type data\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [37]:
import csv
reader=csv.reader(open('data/ex7.csv'))
reader

In [38]:
for line in reader:
    print line

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [39]:
lines=list(csv.reader(open('data/ex7.csv')))

header,values=lines[0],lines[1:]

In [40]:
data_dict={h:v for h,v in zip(header,zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [41]:
xls_pub=pd.ExcelFile('data/Pub.xls')
tb1=xls_pub.parse('Author')
tb1.tail()

,Id,Name,Affiliation
49,1718061,Michael P Muehlenbein,"Reproductive Ecology Laboratory, Department of..."
50,436474,Benjamin C Campbell,"Department of Anthropology, Boston University,..."
51,578318,Kathrine M Phillippi-Falkenstein,"Department of Veterinary Medicine, Tulane Nati..."
52,596633,Robert J Richards,NaN
53,784458,Frank Svec,NaN

In [46]:
xls_pub=pd.ExcelFile('data/Pub.xls')
tb2=xls_pub.parse('Paper')
tb2.head()

,Id,Title,Year,ConferenceId,JournalId,Keyword
0,1,Hypermethylation of the <I>TPEF/HPP1</I> Gene ...,2005,0,3943,"Keywords: methylation, epigenetic, metastasis,..."
1,9,A Formal Approach to Service Component Archite...,2006,2397,0,NaN
2,3,Skew-Circulant Preconditioners for Systems of ...,2000,1389,0,NaN
3,11,A Framework for the Parallel Processing of Dat...,1990,0,253,NaN
4,5,Newer approaches to the diagnosis of early ons...,2006,0,2620,NaN

In [44]:
xls_pub=pd.ExcelFile('data/Pub.xls')
tb3=xls_pub.parse('Sheet3')
tb3.head()

   PaperId  AuthorId                  Name Affiliation
0        1   1140870  Matthias P. A. Ebert         NaN
1        1    187581     Suzanne H. Mooney         NaN
2        1    229514      Christoph Ricken         NaN
3        1    245283              Jie Chen         NaN
4        1    275681   Hans-Ulrich Schulzb         NaN

In [45]:
PAfull=pd.merge(tb3,tb2,left_on='PaperId',right_on='Id')
PAfull[:2]

,PaperId,AuthorId,Name,Affiliation,Id,Title,Year,ConferenceId,JournalId,Keyword
0,1,1140870,Matthias P. A. Ebert,NaN,1,Hypermethylation of the <I>TPEF/HPP1</I> Gene ...,2005,0,3943,"Keywords: methylation, epigenetic, metastasis,..."
1,1,187581,Suzanne H. Mooney,NaN,1,Hypermethylation of the <I>TPEF/HPP1</I> Gene ...,2005,0,3943,"Keywords: methylation, epigenetic, metastasis,..."

In [47]:
import json

In [48]:
json_string= '{"name":"USA","state":[{"nm":"Washington","cities":[{"city":["S", "O"]}]},{"nm":"Calif","c
ities":[{"city":["A", "B"]}]}]}'

SyntaxError: EOL while scanning string literal (<ipython-input-48-860095c7d28e>, line 1)

In [50]:
json_string = '{"name":"USA","state":[{"nm":"Washington","cities":[{"city":["S", "O"]}]},{"nm":"Calif","cities":[{"city":["A", "B"]}]}]}'

In [51]:
result=json.loads(json_string)
result

{u'name': u'USA',
 u'state': [{u'cities': [{u'city': [u'S', u'O']}], u'nm': u'Washington'},
  {u'cities': [{u'city': [u'A', u'B']}], u'nm': u'Calif'}]}

In [52]:
asjson=json.dumps(result)
print asjson

{"state": [{"cities": [{"city": ["S", "O"]}], "nm": "Washington"}, {"cities": [{"city": ["A", "B"]}], "nm": "Calif"}], "name": "USA"}

In [53]:
cities=DataFrame(result['state'],columns=['cities'])
cities

                      cities
0  [{u'city': [u'S', u'O']}]
1  [{u'city': [u'A', u'B']}]

In [54]:
tweets=pd.read_json(open('data/tweets.json'))
print len(tweets)

tweets[:2]

281

F:\Anaconda\lib\site-packages\dateutil\parser.py:605: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  elif res.tzname and res.tzname in time.tzname:

,annotation,contributors,coordinates,created_at,entities,event_description,extended_entities,favorite_count,favorited,filter_level,...,retweeted,source,structure,support,text,thread_id,topic_news,truncated,tweet_type,user
0,NaN,NaN,None,2015-03-24 12:14:04,"{u'symbols': [], u'user_mentions': [{u'indices...","Germanwings Flight, Germanwings crash",{u'media': [{u'media_url_https': u'https://pbs...,0,False,NaN,...,False,"<a href=""http://twitter.com/download/iphone"" r...",NaN,comment,#Breaking RT @NBCNews: #Germanwings passenger ...,580339825649291264,germanwings-crash,False,direct-reply,"{u'follow_request_sent': False, u'profile_use_..."
1,NaN,NaN,None,2015-03-24 11:43:13,"{u'symbols': [], u'user_mentions': [{u'indices...","Germanwings Flight, Germanwings crash",NaN,1,False,NaN,...,False,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",NaN,comment,@cobaltjacket @thatjohn @RunwayGirl Lots of ra...,580331561398108160,germanwings-crash,False,deep-reply,"{u'follow_request_sent': False, u'profile_use_..."

In [55]:
with open('data/tweets.json') as json_file:
    tweets=json.load(json_file)
len(tweets)

281

In [56]:
print len(tweets[0])

32

In [57]:
print tweets[0]['id']  # 推文编号
print tweets[0]['text']  # 推文内容
print tweets[0]['retweet_count']  # 推文转发次数
print tweets[0]['favorite_count'] # 推文被赞次数
print tweets[0]['user']['name'] # 作者的名字
print tweets[0]['user']['favourites_count'] # 该作者（历史以来）点赞推文次数
print tweets[0]['user']['friends_count'] # 该作者的好友个数
print tweets[0]['user']['followers_count'] # 该作者有多少追随者

580341810729369600
#Breaking RT @NBCNews: #Germanwings passenger plane crashes in French Alps with 148 onboard http://t.co/IKWmXRw9Sk http://t.co/sms8KtXxgX
1
0
Carina Corral
1235
1017
1249

In [58]:
print tweets[5]['id']  # 推文编号
print tweets[5]['text']  # 推文内容
print tweets[5]['retweet_count']  # 推文转发次数
print tweets[5]['favorite_count'] # 推文被赞次数
print tweets[5]['user']['name'] # 作者的名字
print tweets[5]['user']['favourites_count'] # 该作者（历史以来）点赞推文次数
print tweets[5]['user']['friends_count'] # 该作者的好友个数
print tweets[5]['user']['followers_count'] # 该作者有多少追随者

580331561398108160
1047 call: DGAC source says pilots called «urgence, urgence» (“emergency, emergency”), as opposed to a mayday call or 7700 squawk. #4U9525
111
14
John Walton
1008
347
7038

In [61]:
from lxml.html import parse
from urllib2 import urlopen

In [62]:
parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))

In [63]:
doc=parsed.getroot()

In [65]:
links=doc.findall('.//a')
links[15:20]

[<Element a at 0xc405188>,
 <Element a at 0xc4051d8>,
 <Element a at 0xc405228>,
 <Element a at 0xc405278>,
 <Element a at 0xc4052c8>]

In [66]:
lnk=links[28]

In [67]:
lnk.get('href')

'/quote/AMZN?p=AMZN'

In [68]:
lnk.text_content()

'AMZN'

In [69]:
urls=[lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

['//finance.yahoo.com/broker-comparison?bypass=true',
 'https://help.yahoo.com/kb/index?page=content&y=PROD_MAIL_ML&locale=en_US&id=SLN2310&actp=productlink',
 'http://help.yahoo.com/l/us/yahoo/finance/',
 'https://yahoo.uservoice.com/forums/382977',
 'http://info.yahoo.com/privacy/us/yahoo/',
 'http://info.yahoo.com/relevantads/',
 'http://info.yahoo.com/legal/us/yahoo/utos/utos-173.html',
 'http://twitter.com/YahooFinance',
 'http://facebook.com/yahoofinance',
 'http://yahoofinance.tumblr.com']

In [70]:
!type data\xml-sample.xml

<note>
<to>George</to>
<from>John</from>
<heading>Reminder</heading>
<body>Don't forget the meeting!</body>
</note>

In [71]:
from lxml import etree

xml_file=etree.parse('data/xml-sample.xml')

root_node=xml_file.getroot()

In [72]:
for sub_node in root_node:
    print sub_node.tag,":",sub_node.text

to : George
from : John
heading : Reminder
body : Don't forget the meeting!

In [73]:
df=pd.read_csv('data/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [74]:
df.to_pickle('data/ex1_pickle')

In [75]:
pd.read_pickle('data/ex1_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [77]:
!pip install Py Tables

Requirement already satisfied: Py in f:\anaconda\lib\site-packages
Requirement already satisfied: Tables in f:\anaconda\lib\site-packages
Requirement already satisfied: numpy>=1.7.1 in f:\anaconda\lib\site-packages (from Tables)
Requirement already satisfied: numexpr>=2.4 in f:\anaconda\lib\site-packages (from Tables)

In [81]:
store=pd.HDFStore('data/mydata.h5')
df=pd.read_csv('data/ex1.csv')
store['obj1']=df
store['obj1_col']=df['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: data/mydata.h5
/obj1                frame        (shape->[3,5])
/obj1_col            series       (shape->[3])

In [82]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [83]:
store['obj1_col']

0    1
1    5
2    9
Name: a, dtype: int64

In [84]:
store.close()

In [85]:
import sqlite3

In [86]:
query="""
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con=sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [88]:
data = [('Atlanta', 'Georgia', 1.25, 6),
('Tallahassee', 'Florida', 2.6, 3),
('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt,data)
con.commit()

In [89]:
cursor=con.execute('select*from test')
rows=cursor.fetchall()
rows

[(u'Atlanta', u'Georgia', 1.25, 6),
 (u'Tallahassee', u'Florida', 2.6, 3),
 (u'Sacramento', u'California', 1.7, 5)]

In [90]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [91]:
cursor.description[1][0]

'b'

In [92]:
DataFrame(rows,columns=zip(*cursor.description)[0])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [93]:
import pandas.io.sql as sql
sql.read_sql('select*from test',con)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [101]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-3.4.0-cp27-none-win_amd64.whl (267kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.4.0

In [102]:
from pymongo import MongoClient

In [103]:
client=MongoClient()

In [107]:
db=client['mydatabase']

In [108]:
collection=db['mycollect']